<div class="post-card shadow-box">
  <div class="post-card-header">
    <div class="post-card-header-title">
      <a class="no-underline" href="<%- url_for(post.path) %>">
        <%= post.title %>
      </a>
    </div>
    <div class="post-card-header-subtitle">
      <%= post.author %> <span class="post-card-subtitle-separator"> | </span> <%= date(post.date, 'MMM D, YYYY') %>
    </div>
  </div>
  <div class="post-card-preview">
    <%- post.excerpt || truncate(strip_html(post.content), {length: 200}) %>
  </div>
  <hr class="horizontal-line">
  <div class="post-card-footer">
    <%- list_tags(post.tags, {
      show_count: false,
      style: 'none',
      separator: ' '
    }) %>
  </div>
</div>
