
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- partial('_partial/google-analytics') %>
    <title><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="bundle.css">
    <%- css('css/style') %>
  </head>
  <body>
    <div id="container">
      <%- partial('_partial/header') %>
      <div class="content">
        <section id="main"><%- body %></section>
        <%- partial('_partial/sidebar') %>
      </div>
      <%- partial('_partial/footer') %>
    </div>
  </body>
</html>